*{
    border: 1px solid red;
}

#body-background{
    display: flex;
    
}


img#container2{
    display: flex;
    height: 100%;


}
.header {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    /* margin-left: 5px; */
    justify-content: space-between;
}
h2.text.container{
    display: flex;
    /*margin-left: 30px;*/
    color: gray;
    font-size:200%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
}
.logo {
    display: flex;
    margin-bottom: 5%;
   
}
.imgcontainer1 img{
    display: flex;
    margin: 20px;
    /* position: absolute; */
    /* left: 1000px; */
    /* top: 10%; */
    height: 60px;
    width: 60px;
}

a{
    color: gray;
    text-decoration: none;
    
}

.nav-bar ul{
    justify-content:center;
    font-size: 150%;
    display: flex;
    margin-left: 0px;
   color: gray;
   gap: 250px;
   text-decoration: none ;
   list-style: none;

}

.ul ul a{
    text-align: center;
    text-decoration: none;
    color: gray;
    display: flex;
}

ul{
    padding: 0%;
}

.container2{
    height: 100px;
    width: 100px;
    display: flex;
    margin: 0%;
    border: 0px;
    padding: 0%;
}

.container3{
    display: flex;
    padding-top: 0px;
    /*margin-left: 0px;*/
    height: 500px;
    width: 500px;

}

div.main-section{
    padding: 50px;
    margin-right: 50px; 
}



section {
    display: flex;
}

button.button_1{
   /* position: absolute;
    top: 75%;
    left: 10%; */
    display: block;
    margin: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    font-style: italic;
    border:3px solid violet ;
    color:gray ;
    background-color: white;
    padding-right: 10px;
    border-radius: 5px;
    height: 49px;
    width: 120px;

}

button.button_2{
    /*position: absolute;
    left: 20%;
    top: 75%;*/
    display: block;
    margin: 3%;
    font-size: 13px;
    border: 3px solid;
    border-radius: 5px;
    color: white;
    background-color: rgb(207, 14, 207);
    height: 50px;
    width: 120px;
}

p.p1{
   color: gray;
   font-size: 200%;
}

p{
    font-size: 200%;
}

#text{
    font-size: 250%;
}

#hambuger{
   display: none;   
}


.sign-icons{
    display: flex;
    margin-left: 1182px;
    margin-top: 0px;
    margin-bottom: 0px;
   /* position: absolute;
    top: 93%;*/
    height: 35px;
    width: 35px;
    gap: 35px;
}


#left-sign{
    display: flex;
    
    
}

#right-sign{
    border: none;
}

 button{
    display: flex;
    margin-right: auto;


 }

 .b{
    display: flex;
    margin: 0%;
 }