@media(max-width:475px){
   
    header{
        background-image: linear-gradient(yellow,orange);
    }


    .nav-bar ul{
        display: none;
    }

    html{
        width: 95%;
    }

    body{
        margin: 0;
        width: 100%;
    }

    .body{
        width: 0%;
        padding: 0px;
        margin: 0;
     
    }
    section{
        display: block;
    }

   #hero-img{
    width: 90vw;
   }
    

    .imgcontainer1 img{
        display: flex;
       position:absolute;
       top: 7%;
       left: 250px;
    }

    .container2{
        height: 50px;    
    }

    section{display: flex;
        flex-direction: column-reverse;
    }
    
    #right-sign, #left-sign {
        height: 40px;
        width: 40px;
        
    }

    #sign-icons{
        display: flex;
        margin: 0;
        height: 40px;
        width: 40px;
    }

    button.button_1{
        position: relative;
    }

    button.button_2{
        position: relative;
    }

    #sign-icons{
        display: flex;
        justify-content: space-around;
        margin: 0 25%;
        position: relative;
        height: 30px;
        width: 30px;
    }

    .main-section{
        display: flex, none;
        padding: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        border-right: 0px;
        background-image: linear-gradient(yellow,orange);
        
    }

    #hambuger{
        display: flex;
        height: 30px;
        width: 30px;
        /* margin-left: 80px; */
        padding-top: 10px;
    }

    h2.text.container{
        display: flex;
        margin-left: 0px;
        margin-right: 100px;
        color: gray;
        font-size: 25px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 0px
    }

    #cart{
        display: flex;
        
    }
    
    .container3{
        display: flex;
        padding-top: 40px;
        margin-right: 2px;
        height: 500px;
        width: auto;
    
    }
    
    div.main-section{
        padding:0;
        margin:0; 
    }
}